@{
    ViewData["Title"] = "Reservation Summary List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Reservation Summary(Reservation) List comes here.</p>
</div>

